# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Test / tooling cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env
.env.*

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db